<p>Quadrangle has four edges</p>

<div class="quadrangle center"></div>

Does your figure have:
<ul>
  <li>
    <a [routerLink]="['./trapezoid']">
      at least one pair of parallel sides?
    </a>
  </li>
  <li>
    <a [routerLink]="['./kite']">
      two pairs of equal sides?
    </a>
  </li>
  <li>
    <a [routerLink]="['./parallelogram']">
      two pairs of parallel sides?
    </a>
  </li>
  <li>
    <a [routerLink]="['./rhombus']">
      four equal sides?
    </a>
  </li>
  <li>
    <a [routerLink]="['./rectangle']">
      four right angles?
    </a>
  </li>
  <li>
    <a [routerLink]="['./square']">
      four equal sides and for equal angles?
    </a>
  </li>
</ul>