.kite {
    width: 0;
    height: 0;
    border: 20vw solid transparent;
    border-bottom: 15vh solid green;
    top: -20vw;
    position: relative;
    margin-bottom: 10vh;
  }

.kite:after {
    content: "";
    position: absolute;
    left: -20vw;
    top: 15vh;
    width: 0;
    height: 0;
    border: 20vw solid transparent;
    border-top: 30vh solid green;
    z-index: -1;
  }