.parallelogram-small {
    width: 30px;
    height: 50px;
    transform: skew(20deg);
    background: green;
  }

.parallelogram {
    width: 30vw;
    height: 50vh;
    transform: skew(20deg);
    background: green;
  }
