.parallelogram-small {
    width: 50px;
    height: 30px;
    transform: skew(20deg);
    background: green;
  }

.parallelogram {
    width: 50vw;
    height: 30vh;
    transform: skew(20deg);
    background: green;
  }
