.trapezoid-small {
	border-bottom: 50px solid green;
	border-left: 5px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 25px;
  }

.trapezoid {
	border-bottom: 50vh solid green;
	border-left: 5vw solid transparent;
	border-right: 20vw solid transparent;
	height: 0;
	width: 25vw;
  }